<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../../partials/header') %>
    <main>
      <h1>Listado de productos</h1>

      <a href="/admin/productos/create">Crear</a>

      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach(producto => { %>
          <tr>
            <td><%= producto.id %></td>
            <td><%= producto.nombre %></td>
            <td>$ <%= producto.precio %></td>
            <td><%= producto.Category.nombre %></td>
            <td>
              <a href="/admin/productos/<%= producto.id %>/edit">Editar</a>
              |
              <form
                class="form-delete"
                style="display: inline-block"
                action="/admin/productos/<%= producto.id %>?_method=DELETE"
                method="post"
              >
                <button type="submit">Borrar</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
    <%- include('../../partials/footer') %>

    <div id="app">{{ message }}</div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const message = ref("Hello vue!");
          return {
            message,
          };
        },
      }).mount("#app");
    </script>

    <script>
      document.addEventListener("submit", (event) => {
        if (event.target.classList.contains("form-delete")) {
          event.preventDefault();

          if (confirm("¿Esta seguro?")) {
            event.target.submit();
          }
        }
      });
    </script>
  </body>
</html>
